.App {
  display: flex;
  flex-direction: row-reverse;
}

.App-total-steps {
  margin-top: 24px;
  align-self: flex-end;
  background-color: rgb(194, 194, 233);
  border-radius: 20px;
  padding: 8px 16px 8px;
  color: white;
}

.Rewards {
  margin: 32px;
  padding: 16px;
}

.Health-display {
  padding: 16px 32px 16px;
  background-color: rgba(188, 218, 222, 0.392);
  border-radius: 20px;
  margin: 32px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.296); */
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.296);
}

.App-form {
  color: rgb(255, 254, 254);
  background-color: rgba(33, 27, 139, 0.479);
  border-radius: 10px;
  margin-top: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

.App-input {
  background-color: rgb(229, 225, 225);
  border-radius: 7px;
  padding: 12px;
  outline: none;
  border: none;
}

.App-label {
  font-weight: 500;
}

.App-submit {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid black;
  background-color: rgba(16, 85, 160, 0.565);
  color: white;
  box-shadow: 2.5px 2.5px 0px 1px rgb(4, 25, 63);
  outline: none;
}

.App-submit:active {
  box-shadow: 1.5px 1.5px 0px 0px black;
  translate: 2.5px 2.5px;
}

.App-submit:hover,
.App-submit:active {
  background-color: rgba(15, 36, 129, 0.717);
}
